.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.row-normal {
  background-color: #fff;
  border: 1px #ccc;
  margin-top: 10px;
}

.banner {
  background-color: #333;
  color: white;
}

.title,
.time {
  font-size: 13pt;
}
.banner > h1 {
  margin: auto;
  padding: 50px 5px 5px 30px;
}

.banner > h2 {
  margin: auto;
  padding: 10px 5px 50px 30px;
}

.author {
  color: #999;
}

.no-data {
  padding: 10px 5px 5px 30px;
}

/*grid*/

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #fff;
  margin-top: 10px;
  font-size: 13pt;
  display: grid;
  grid-template-columns: 5fr 0.8fr 0.15fr;
  grid-gap: 30px;
  width: auto;
  border-bottom: 1px solid;
  border-color: darkgray;
}
.row a {
  text-decoration: none;
  color: black;
}

.row .trash {
  transform: scale(0);
}

.row:hover .trash {
  transform: scale(1);
}

.row:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}
